
<div class="row gutter-20">
    <div class="col-sm-12 profile-body">
      <div class="profile-img"><%= link_to gravatar_for(@user,size:200),@user, class:'profile-image' %></div>
      <h1><%= @user.name %></h1></br>
      
       <%= @user.profile %>
        <%= render 'follow_form' if logged_in? %>
                
                
               
               
                <h2>この人が書いた映画・アニメのレビュー</h2>
                <p><%= render @reviews %></p>
                <h2>この人のスレッドの書き込み</h2>
                <p></p>
                <h2>好きな映画・アニメのジャンル</h2>
                <p></p>
                <h2>お気に入りの作品</h2>
                <p></p>
                <h2>フォロー</h2>
                <p>
                 <% if @user.following_users.any? %>
                 <% @user.following_users.each do |user| %>
                 <%= link_to gravatar_for(user,size:50), user %>
                 <%= user.name %>
                 <% end %>
                <% end %>
                </p>
                <h2>フォロワー</h2>
                <p>
                <% if @user.follower_users.any? %>
                 <% @user.follower_users.each do |user| %>
                 <%= link_to gravatar_for(user,size:50),user %>
                 <%= user.name %>
                 <% end %>
                <% end %>
                </p>
    </div>
</div>          
