
<div class="row gutter-20">
    <div class="col-sm-12 profile-body">
      <div class="profile-img"><%= link_to gravatar_for(@user,size:200),@user, class:'profile-image' %></div>
      <h1><%= @user.name %></h1></br>
      
       <%= @user.profile %>
               
                
                
               
               
                <h2>Baloon</h2>
                <p><%= render @reviews %></p>
                <h2>好きな作品</h2>
                <p>ウルフオブウォールストリート</p>
                <h2>好きなカテゴリ</h2>
                <p>・アクション・SF・ホラーサスペンス</p>
                <h2>見たい！をした作品一覧</h2>
                <p></p>
                <h2>フォローしている人</h2>
                <p>
                 <% if @user.following_users.any? %>
                 <% @user.following_users.each do |user| %>
                 <%= link_to gravatar_for(user,size:50), user %>
                 <%= user.name %>
                 <% end %>
                <% end %>
                </p>
                <h2>フォロワー</h2>
                <p>
                <% if @user.follower_users.any? %>
                 <% @user.follower_users.each do |user| %>
                 <%= link_to gravatar_for(user,size:50),user %>
                 <%= user.name %>
                 <% end %>
                <% end %>
                </p>
    </div>
</div>          
