<header class="navbar navbar-fixed-top " >
    
    <div class="container" id="header">
    <div class="navbar-header">    
        
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#global-nav">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
        <%= link_to "Reviews＠βATA", '/', id: "logo" %>
    </div>
    <div class="collapse navbar-collapse" id="global-nav">
            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "ホーム", '/' %></li>
                <li><%= link_to "アニメ・映画の作品を探す", 'signup' %></li>
                <li><%= link_to "アカウントを作成", 'signup' %></li>
                <li><%= link_to "ヘルプ", '#' %></li>
            </ul>
    </div>
    </div>
    
</header>
    

